*{
    margin: 0;
    padding: 0;
}

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    padding: 10px;
    border: .5px dashed grey;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.board:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

.topLeft {
    grid-area: 1/1/2/2;
}

.topMid {
    grid-area: 1/2/2/3;
    border: 5px solid #79360d;
    border-top: none;
    border-bottom: none;
}
.topRight{
    grid-area: 1/3/2/4;

}

.midLeft{
    grid-area: 2/1/3/2;
    border: 5px solid #79360d;
    border-left: none;
    border-right: none;
}


.midMid{
    grid-area: 2/2/3/3;
    border: 5px solid #79360d;
}

.midRight {
    grid-area: 2/3/3/4;
    border: 5px solid #79360d;
    border-left: none;
    border-right: none;
}
.bottomLeft{
    grid-area: 3/1/4/2;

}

.bottomMid {
    grid-area: 3/2/4/3;
    border: 5px solid #79360d;
    border-top: none;
    border-bottom: none;
}

.bottomRight{
    grid-area: 3/3/4/4;
}