*{
    margin: 0;
    padding: 0;
}

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    padding: 10px;
    border: .5px dashed grey;
    align-self: center;
    justify-self: center;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.board:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

.topLeft {
    grid-area: 1/1/2/2;
}

.topMid {
    grid-area: 1/2/2/3;
    border: 5px solid #79360d;
    border-top: none;
    border-bottom: none;
}
.topRight{
    grid-area: 1/3/2/4;

}

.midLeft{
    grid-area: 2/1/3/2;
    border: 5px solid #79360d;
    border-left: none;
    border-right: none;
    margin-top: -1.5px;

}


.midMid{
    grid-area: 2/2/3/3;
    border: 5px solid #79360d;
    margin-top: -1.5px;
}

.midRight {
    grid-area: 2/3/3/4;
    border: 5px solid #79360d;
    border-left: none;
    border-right: none;
    margin-top: -1.5px;

}
.bottomLeft{
    grid-area: 3/1/4/2;

}

.bottomMid {
    grid-area: 3/2/4/3;
    border: 5px solid #79360d;
    border-top: none;
    border-bottom: none;
}

.bottomRight{
    grid-area: 3/3/4/4;
}

.playerSelection {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 15px;
    height: 60vh;
    width: 85vw;
    align-self: center;
    justify-self: center;
}
.player {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 0px 0px 8px 2px rgb(8, 8, 8);
    background-color: rgb(245, 245, 245);
}
.player h1 {
    padding: 1em 0 1em 0;
    align-self: center;
}
.inputs {
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 1em;
    margin-left: 3%;
    margin-right: 3%;
}
.input {
    display: flex;
    flex-direction: column;
}
.input select {
    width: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button {
    background-color: #008CBA;
    color: white;
    height: 2em;
    width: 45%
}
button:hover {
    background-color: #1d9ac4;
    cursor: pointer;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-size: xx-large;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
}

.hidden {
    display: none;
}
